In [5]:
import pandas as pd
import numpy as np

In [6]:
players = pd.read_csv(r"C:\Users\aanis\Downloads\players_22.csv")

C:\Users\aanis\AppData\Local\Temp\ipykernel_26812\3282236945.py:1: DtypeWarning: Columns (25,108) have mixed types. Specify dtype option on import or set low_memory=False.
  players = pd.read_csv(r"C:\Users\aanis\Downloads\players_22.csv")

In [22]:
print (players)

       sofifa_id                                         player_url  \
0         158023  https://sofifa.com/player/158023/lionel-messi/...
1         188545  https://sofifa.com/player/188545/robert-lewand...
2          20801  https://sofifa.com/player/20801/c-ronaldo-dos-...
3         190871  https://sofifa.com/player/190871/neymar-da-sil...
4         192985  https://sofifa.com/player/192985/kevin-de-bruy...
...          ...                                                ...
19234     261962  https://sofifa.com/player/261962/defu-song/220002
19235     262040  https://sofifa.com/player/262040/caoimhin-port...
19236     262760  https://sofifa.com/player/262760/nathan-logue/...
19237     262820  https://sofifa.com/player/262820/luke-rudden/2...
19238     264540  https://sofifa.com/player/264540/emanuel-lalch...

               short_name                            long_name  \
0                L. Messi       Lionel Andrés Messi Cuccittini
1          R. Lewandowski                   Robert Lewandowski
2       Cristiano Ronaldo  Cristiano Ronaldo dos Santos Aveiro
3               Neymar Jr        Neymar da Silva Santos Júnior
4            K. De Bruyne                      Kevin De Bruyne
...                   ...                                  ...
19234           Song Defu                                  宋德福
19235           C. Porter                      Caoimhin Porter
19236            N. Logue              Nathan Logue-Cunningham
19237           L. Rudden                          Luke Rudden
19238  E. Lalchhanchhuaha              Emanuel Lalchhanchhuaha

      player_positions  overall  potential    value_eur  wage_eur  age  ...  \
0           RW, ST, CF       93         93   78000000.0  320000.0   34  ...
1                   ST       92         92  119500000.0  270000.0   32  ...
2               ST, LW       91         91   45000000.0  270000.0   36  ...
3              LW, CAM       91         91  129000000.0  270000.0   29  ...
4              CM, CAM       91         91  125500000.0  350000.0   30  ...
...                ...      ...        ...          ...       ...  ...  ...
19234              CDM       47         52      70000.0    1000.0   22  ...
19235               CM       47         59     110000.0     500.0   19  ...
19236               CM       47         55     100000.0     500.0   21  ...
19237               ST       47         60     110000.0     500.0   19  ...
19238              CAM       47         60     110000.0     500.0   19  ...

        lcb    cb   rcb    rb    gk  \
0      50+3  50+3  50+3  61+3  19+3
1      60+3  60+3  60+3  61+3  19+3
2      53+3  53+3  53+3  60+3  20+3
3      50+3  50+3  50+3  62+3  20+3
4      69+3  69+3  69+3  75+3  21+3
...     ...   ...   ...   ...   ...
19234  46+2  46+2  46+2  48+2  15+2
19235  44+2  44+2  44+2  48+2  14+2
19236  45+2  45+2  45+2  47+2  12+2
19237  26+2  26+2  26+2  32+2  15+2
19238  41+2  41+2  41+2  45+2  16+2

                                         player_face_url  \
0      https://cdn.sofifa.net/players/158/023/22_120.png
1      https://cdn.sofifa.net/players/188/545/22_120.png
2      https://cdn.sofifa.net/players/020/801/22_120.png
3      https://cdn.sofifa.net/players/190/871/22_120.png
4      https://cdn.sofifa.net/players/192/985/22_120.png
...                                                  ...
19234  https://cdn.sofifa.net/players/261/962/22_120.png
19235  https://cdn.sofifa.net/players/262/040/22_120.png
19236  https://cdn.sofifa.net/players/262/760/22_120.png
19237  https://cdn.sofifa.net/players/262/820/22_120.png
19238  https://cdn.sofifa.net/players/264/540/22_120.png

                                    club_logo_url  \
0          https://cdn.sofifa.net/teams/73/60.png
1          https://cdn.sofifa.net/teams/21/60.png
2          https://cdn.sofifa.net/teams/11/60.png
3          https://cdn.sofifa.net/teams/73/60.png
4          https://cdn.sofifa.net/teams/10/60.png
...                                           ...
19234  https://cdn.sofifa.net/teams/112541/60.png
19235     https://cdn.sofifa.net/teams/445/60.png
19236  https://cdn.sofifa.net/teams/111131/60.png
19237  https://cdn.sofifa.net/teams/111131/60.png
19238  https://cdn.sofifa.net/teams/113040/60.png

                                 club_flag_url  \
0          https://cdn.sofifa.net/flags/fr.png
1          https://cdn.sofifa.net/flags/de.png
2      https://cdn.sofifa.net/flags/gb-eng.png
3          https://cdn.sofifa.net/flags/fr.png
4      https://cdn.sofifa.net/flags/gb-eng.png
...                                        ...
19234      https://cdn.sofifa.net/flags/cn.png
19235      https://cdn.sofifa.net/flags/ie.png
19236      https://cdn.sofifa.net/flags/ie.png
19237      https://cdn.sofifa.net/flags/ie.png
19238      https://cdn.sofifa.net/flags/in.png

                                nation_logo_url  \
0      https://cdn.sofifa.net/teams/1369/60.png
1      https://cdn.sofifa.net/teams/1353/60.png
2      https://cdn.sofifa.net/teams/1354/60.png
3                                           NaN
4      https://cdn.sofifa.net/teams/1325/60.png
...                                         ...
19234                                       NaN
19235                                       NaN
19236                                       NaN
19237                                       NaN
19238                                       NaN

                           nation_flag_url
0      https://cdn.sofifa.net/flags/ar.png
1      https://cdn.sofifa.net/flags/pl.png
2      https://cdn.sofifa.net/flags/pt.png
3      https://cdn.sofifa.net/flags/br.png
4      https://cdn.sofifa.net/flags/be.png
...                                    ...
19234  https://cdn.sofifa.net/flags/cn.png
19235  https://cdn.sofifa.net/flags/ie.png
19236  https://cdn.sofifa.net/flags/ie.png
19237  https://cdn.sofifa.net/flags/ie.png
19238  https://cdn.sofifa.net/flags/in.png

[19165 rows x 110 columns]

In [7]:
players.head()

,sofifa_id,player_url,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,lcb,cb,rcb,rb,gk,player_face_url,club_logo_url,club_flag_url,nation_logo_url,nation_flag_url
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,"RW, ST, CF",93,93,78000000.0,320000.0,34,...,50+3,50+3,50+3,61+3,19+3,https://cdn.sofifa.net/players/158/023/22_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,https://cdn.sofifa.net/teams/1369/60.png,https://cdn.sofifa.net/flags/ar.png
1,188545,https://sofifa.com/player/188545/robert-lewand...,R. Lewandowski,Robert Lewandowski,ST,92,92,119500000.0,270000.0,32,...,60+3,60+3,60+3,61+3,19+3,https://cdn.sofifa.net/players/188/545/22_120.png,https://cdn.sofifa.net/teams/21/60.png,https://cdn.sofifa.net/flags/de.png,https://cdn.sofifa.net/teams/1353/60.png,https://cdn.sofifa.net/flags/pl.png
2,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,"ST, LW",91,91,45000000.0,270000.0,36,...,53+3,53+3,53+3,60+3,20+3,https://cdn.sofifa.net/players/020/801/22_120.png,https://cdn.sofifa.net/teams/11/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1354/60.png,https://cdn.sofifa.net/flags/pt.png
3,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Júnior,"LW, CAM",91,91,129000000.0,270000.0,29,...,50+3,50+3,50+3,62+3,20+3,https://cdn.sofifa.net/players/190/871/22_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,NaN,https://cdn.sofifa.net/flags/br.png
4,192985,https://sofifa.com/player/192985/kevin-de-bruy...,K. De Bruyne,Kevin De Bruyne,"CM, CAM",91,91,125500000.0,350000.0,30,...,69+3,69+3,69+3,75+3,21+3,https://cdn.sofifa.net/players/192/985/22_120.png,https://cdn.sofifa.net/teams/10/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1325/60.png,https://cdn.sofifa.net/flags/be.png

In [24]:
features= ["overall", "potential", "wage_eur", "value_eur", "age"] # clustering on basis of only these 5 features
players= players.dropna(subset=features) # dropping all rows having zero values in any of above mentioned 5 columns
data= players[features].copy() #  copying only 5 columns of player data into another dataframe
data

       overall  potential  wage_eur    value_eur  age
0           93         93  320000.0   78000000.0   34
1           92         92  270000.0  119500000.0   32
2           91         91  270000.0   45000000.0   36
3           91         91  270000.0  129000000.0   29
4           91         91  350000.0  125500000.0   30
...        ...        ...       ...          ...  ...
19234       47         52    1000.0      70000.0   22
19235       47         59     500.0     110000.0   19
19236       47         55     500.0     100000.0   21
19237       47         60     500.0     110000.0   19
19238       47         60     500.0     110000.0   19

[19165 rows x 5 columns]

In [26]:
# normalizing values in all 5 columns for avoiding issues in scaling
data = ((data- data.min()) /(data.max()- data.min()))* 10 + 1 # scales value on a scale of 10 
data.describe()

            overall     potential      wage_eur     value_eur           age
count  19165.000000  19165.000000  19165.000000  19165.000000  19165.000000
mean       5.078302      5.799998      1.243826      1.146473      4.403716
std        1.496262      1.323418      0.557253      0.392477      1.750932
min        1.000000      1.000000      1.000000      1.000000      1.000000
25%        4.043478      4.913043      1.014306      1.024022      2.851852
50%        5.130435      5.782609      1.071531      1.049796      4.333333
75%        6.000000      6.652174      1.214592      1.102634      5.814815
max       11.000000     11.000000     11.000000     11.000000     11.000000

In [27]:
data.head()

     overall  potential   wage_eur  value_eur       age
0  11.000000  10.565217  10.141631   5.020341  7.666667
1  10.782609  10.347826   8.711016   7.159616  6.925926
2  10.565217  10.130435   8.711016   3.319231  8.407407
3  10.565217  10.130435   8.711016   7.649329  5.814815
4  10.565217  10.130435  11.000000   7.468908  6.185185

In [30]:
def random_centroids(data, k):
    centroids = []  # creating empty list of centroids to be stored
    for i in range(k): 
        centroid = data.apply(lambda x: float(x.sample()))  # in each iteration, centroid will take value at random from data via lambda function and convert to float 
        centroids.append(centroid)  # this value will then be appended to the centroids list
    return pd.concat(centroids, axis=1)  # returning a dataframe containing all centroids in columns (axis 1)

In [32]:
centroids= random_centroids(data, 5)

In [33]:
centroids

                  0         1         2         3         4
overall    4.695652  6.869565  8.391304  5.565217  5.782609
potential  6.000000  6.434783  8.173913  3.391304  5.565217
wage_eur   1.042918  1.214592  1.557940  1.672389  1.042918
value_eur  1.071704  1.066549  1.097479  1.011908  1.017578
age        2.851852  3.592593  4.703704  6.555556  5.444444

In [34]:
def get_labels(data, centroids):
    distances = centroids.apply(lambda x: np.sqrt(((data - x) ** 2).sum(axis=1)))
    return distances.idxmin(axis=1)

In [35]:
labels = get_labels(data, centroids)

In [36]:
labels.value_counts()

0    7732
4    5774
3    2221
1    2042
2    1396
dtype: int64

In [37]:
def new_centroids(data, labels, k):
    centroids = data.groupby(labels).apply(lambda x: np.exp(np.log(x).mean())).T
    return centroids

In [38]:
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
from IPython.display import clear_output

ModuleNotFoundError: No module named 'sklearn'

In [39]:
def plot_clusters(data, labels, centroids, iteration):
    pca = PCA(n_components=2)
    data_2d = pca.fit_transform(data)
    centroids_2d = pca.transform(centroids.T)
    clear_output(wait=True)
    plt.title(f'Iteration {iteration}')
    plt.scatter(x=data_2d[:,0], y=data_2d[:,1], c=labels)
    plt.scatter(x=centroids_2d[:,0], y=centroids_2d[:,1])
    plt.show()

In [40]:
max_iterations = 100
centroid_count = 3

centroids = random_centroids(data, centroid_count)
old_centroids = pd.DataFrame()
iteration = 1

while iteration < max_iterations and not centroids.equals(old_centroids):
    old_centroids = centroids
    
    labels = get_labels(data, centroids)
    centroids = new_centroids(data, labels, centroid_count)
    plot_clusters(data, labels, centroids, iteration)
    iteration += 1

NameError: name 'PCA' is not defined

In [21]:
centroids

                  0         1         2
overall    3.436536  6.324628  5.200636
potential  5.357557  7.100439  4.894208
wage_eur   1.031374  1.456630  1.130961
value_eur  1.029343  1.311183  1.049892
age        2.674807  3.874397  5.963956

labels.value_counts()

In [23]:
players[labels == 0][["short_name"] + features]

               short_name  overall  potential  wage_eur  value_eur  age
7025        Sandeiro Leal       68         68    7000.0  1400000.0   21
8028         Narcisso Mau       67         67    4000.0  1100000.0   21
8029         Botelhinonsa       67         67    4000.0  1100000.0   21
8030      Edenildo Lagoas       67         67    3000.0  1100000.0   21
8040          Dener Rolim       67         67    4000.0  1200000.0   21
...                   ...      ...        ...       ...        ...  ...
19234           Song Defu       47         52    1000.0    70000.0   22
19235           C. Porter       47         59     500.0   110000.0   19
19236            N. Logue       47         55     500.0   100000.0   21
19237           L. Rudden       47         60     500.0   110000.0   19
19238  E. Lalchhanchhuaha       47         60     500.0   110000.0   19

[6162 rows x 6 columns]